<!DOCTYPE html>
<html lang="en">
<html lang="en"  xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />

</head>


<body style="background-color: #343a40">

    <div id="header">
        <div class="container">
            <h1 class="chy">Change yourself</h1>
            <ul class="navbar">
                <li><a th:href="@{/}" href="index.html">Home</a></li>
                <li sec:authorize ="!isAuthenticated()"><a th:href="@{/signUp}" href="@{/signUp}">Sign up</a></li>
                <li><a th:href="@{/aboutUs}" href="aboutUs.html">About Us</a></li>
                <li sec:authorize="isAuthenticated()"><form name="logoutForm" th:action="@{/logout}" method="post" >
                    <input  type="submit" value="Sign Out"/>
                </form></li>
            </ul>
        </div>
        <!--End of container-->
    </div>
    <!--End of header-->

    <div id="abanner"  style="background-color: #221e21">
        <div style="padding-top: 10%; padding-left: 25%;padding-right: 25%;font-size: 30px">
            <div style="background-color: #4e555b;opacity: 0.7;border-radius: 3px;margin:auto">
                This project helps you to choose correct personal training according to your purposes.
                There are a lot of training types ,so you will definitely have found something for you.
                Even if you don't have much time or posibility to go to gym - alghorithm will have chosen
                suitable program.You also can get advice about nutrition and some additional details about
                your body and health.
            </div>
    </div>
    </div><!--End of abanner-->

</body>

</html>
