<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Document</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

</head>


<body>

    <div id="header">
        <div class="container">
            <h1 class="chy">Change yourself</h1>
            <ul class="navbar">
                <li><a href="index.html">Home</a></li>
                <li><a href="signup.html">Sign up</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
            </ul>
        </div>
        <!--End of container-->
    </div>
    <!--End of header-->

    <div id="abanner">
        <div class="container">
<p></p>
        </div> <!--End of container-->
    </div><!--End of abanner-->

</body>

</html>
