<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />

</head>


<body>

    <div id="header">
        <div class="container">
            <h1 class="chy">Change yourself</h1>
            <ul class="navbar">
                <li><a th:href="@{/}" href="index.html">Home</a></li>
                <li><a th:href="@{/signUp}" href="registration.html">Sign up</a></li>
                <li><a th:href="@{/aboutUs}" href="aboutUs.html">About Us</a></li>
                <li><a th:href="@{/}" href="index.html">Services</a></li>
            </ul>
        </div>
        <!--End of container-->
    </div>
    <!--End of header-->

    <div id="abanner"  style="background-color: #221e21">
        <div class="container">
<p>
   hello, we are young developer ,bla bla bla

</p>
        </div> <!--End of container-->
    </div><!--End of abanner-->

</body>

</html>
