<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />

</head>


<body style="background-color: #343a40">

   <header>
       <div id="header">
           <div class="container">
               <h1 class="chy">Change yourself</h1>
               <ul class="navbar">
                   <li><a th:href="@{/}" href="index.html">Home</a></li>
                   <li sec:authorize ="!isAuthenticated()"><a th:href="@{/signUp}" href="@{/signUp}">Sign up</a></li>
                   <li><a th:href="@{/aboutUs}" href="aboutUs.html">About Us</a></li>
                   <li sec:authorize="isAuthenticated()"><a th:href="@{/services}" href="training.html">Training</a></li>
                   <li sec:authorize="isAuthenticated()"><form name="logoutForm" th:action="@{/logout}" method="post" >
                       <input  type="submit" value="Sign Out"/>
                   </form></li>
               </ul>
           </div> <!--End of container-->
       </div> <!--End of header-->
   </header>



    <div id="banner">
        <div class="container" >
            <h1>F I T W O R L D</h1>

            <div sec:authorize ="hasAnyAuthority('MB','WB')">

                <div>1st training</div>

                <table border="1">
                    <tr>
                        <th>Exercise</th>
                        <th>Recomendation</th>
                    </tr>
                    <tr><td>Run</td><td>do this ex. firstly(as the warm-up),keep moderate pace(120bpm/min)</td></tr>
                    <tr><td>Run</td><td>do this ex. firstly(as the warm-up),keep moderate pace(120bpm/min)</td></tr>
                    <tr><td>Run</td><td>do this ex. firstly(as the warm-up),keep moderate pace(120bpm/min)</td></tr>
                    <tr><td>Run</td><td>do this ex. firstly(as the warm-up),keep moderate pace(120bpm/min)</td></tr>
                    <tr><td>Run</td><td>do this ex. firstly(as the warm-up),keep moderate pace(120bpm/min)</td></tr>
                </table>

                    <div>2nd training</div>

                    <table border="1">
                        <tr>
                            <th>Exercise</th>
                            <th>Recomendation</th>
                        </tr>
                        <tr><td>Run</td><td>do this ex. firstly(as the warm-up),keep moderate pace(120bpm/min)</td></tr>
                        <tr><td>Run</td><td>do this ex. firstly(as the warm-up),keep moderate pace(120bpm/min)</td></tr>
                        <tr><td>Run</td><td>do this ex. firstly(as the warm-up),keep moderate pace(120bpm/min)</td></tr>
                        <tr><td>Run</td><td>do this ex. firstly(as the warm-up),keep moderate pace(120bpm/min)</td></tr>
                        <tr><td>Run</td><td>do this ex. firstly(as the warm-up),keep moderate pace(120bpm/min)</td></tr>
                    </table>

                        <div>3nd training</div>

                        <table border="1">
                            <tr>
                                <th>Exercise</th>
                                <th>Recomendation</th>
                            </tr>
                            <tr><td>Run</td><td>do this ex. firstly(as the warm-up),keep moderate pace(120bpm/min)</td></tr>
                            <tr><td>Run</td><td>do this ex. firstly(as the warm-up),keep moderate pace(120bpm/min)</td></tr>
                            <tr><td>Run</td><td>do this ex. firstly(as the warm-up),keep moderate pace(120bpm/min)</td></tr>
                            <tr><td>Run</td><td>do this ex. firstly(as the warm-up),keep moderate pace(120bpm/min)</td></tr>
                            <tr><td>Run</td><td>do this ex. firstly(as the warm-up),keep moderate pace(120bpm/min)</td></tr>
                        </table>

            </div>


<!--           <form  th:action="@{/addData}" th:object="${userData}" method="post" sec:authorize ="isAuthenticated()">-->
<!--               <div style="width: 30%; background-color: #4e555b;opacity: 0.7;border-radius: 3px;margin:auto">-->
<!--                   <div>-->
<!--                       Finish input and get your training-->
<!--                   </div>-->

<!--                   <div>-->
<!--                       <div>-->
<!--                           <div>-->
<!--                               how many training could you have?-->
<!--                           </div>-->
<!--                           <select class="form-select" aria-label="Default select example">-->
<!--&lt;!&ndash;                               <option selected>Open this select menu</option>&ndash;&gt;-->
<!--                               <option th:field="*{quantity}" value="2">Two</option>-->
<!--                               <option th:field="*{quantity}" value="3">Three</option>-->
<!--                           </select>-->
<!--                       </div>-->

<!--                       <div>-->
<!--                           <select class="form-select" aria-label="Default select example">-->
<!--&lt;!&ndash;                               <option selected>Open this select menu</option>&ndash;&gt;-->
<!--                               <option value="1">One</option>-->
<!--                               <option value="2">Two</option>-->
<!--                           </select>-->
<!--                       </div>-->
<!--                   </div>-->
<!--               </div>-->
<!--           </form>-->

            <form th:action="@{/signIn}" method="post" sec:authorize ="!isAuthenticated()"
                  style="width: 30%; background-color: #4e555b;opacity: 0.85;border-radius: 3px;margin:auto">

                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid username or password.
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">You have been logged out.</div>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>: <input type="text" id="Username" name="username" class="form-control" autofocus="autofocus" placeholder="Username" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>: <input type="password" id="Password" name="password" class="form-control" placeholder="Password" />
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-primary" value="Log In" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                        <span>New user? <a href="/" th:href="@{/registration}">Register
        here</a></span>
                </div>
            </form>


        </div> <!--End of container-->
    </div> <!--End of banner-->




</body>

</html>
