<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />

</head>


<body style="background-color: #343a40">

   <header>
       <div id="header">
           <div class="container">
               <h1 class="chy">Change yourself</h1>
               <ul class="navbar">
                   <li><a th:href="@{/}" href="index.html">Home</a></li>
                   <li sec:authorize ="!isAuthenticated()"><a th:href="@{/signUp}" href="@{/signUp}">Sign up</a></li>
                   <li><a th:href="@{/aboutUs}" href="aboutUs.html">About Us</a></li>
<!--                   <li sec:authorize="isAuthenticated()"><a th:href="@{/services}" href="training.html">Training</a></li>-->
                   <li sec:authorize="isAuthenticated()"><form name="logoutForm" th:action="@{/logout}" method="post" >
                       <input  type="submit" value="Sign Out"/>
                   </form></li>
               </ul>
           </div> <!--End of container-->
       </div> <!--End of header-->
   </header>



    <div id="banner">
        <div class="container" >
            <h1 sec:authorize="!isAuthenticated()">F I T W O R L D</h1>
            <h2 sec:authorize="isAuthenticated()" style="margin-left: auto">F I T W O R L D</h2>
            <div sec:authorize ="hasAnyAuthority('MG','WG')">
                <div style="background-color: coral;opacity: 0.85;border-radius: 3px;margin-left: 15%;margin-right: 15%">1st training</div>
                <table border="1" style="background-color: #4e555b;opacity: 0.85;border-radius: 3px;margin-left: 15%;margin-right: 15%">
                    <tr>
                        <th>Exercise</th>
                        <th>Recommendation</th>
                    </tr>
                    <tr><td>Bench press</td><td>5 sets: 12,10,8,6,4(with increasing weight)</td></tr>
                    <tr><td>Inclined dumbbell press</td><td>4x12</td></tr>
                    <tr><td>Dips</td><td>4x10-12(use additional weight if you make more than 15 reps)</td></tr>
                    <tr><td>Crossover</td><td>4x12</td></tr>
                    <tr><td>Standing Barbell Curl</td><td>12,10,8,6</td></tr>
                    <tr><td>Hammer Curl</td><td>4x(8-10)</td></tr>
                    <tr><td>Reverse Barbell Curl</td><td>4x12-15</td></tr>
                </table>
                <div style="background-color: coral;opacity: 0.85;border-radius: 3px;margin-left: 15%;margin-right: 15%">2nd training</div>
                <table border="1" style="background-color: #4e555b;opacity: 0.85;border-radius: 3px;margin-left: 15%;margin-right: 15%">
                    <tr>
                        <th>Exercise</th>
                        <th>Recommendation</th>
                    </tr>
                    <tr><td>Wide-grip lat pull-down</td><td>12,10,8,6,4(with increasing weight)</td></tr>
                    <tr><td>Seated Cable Row</td><td>4x12</td></tr>
                    <tr><td>Bent Over Barbell Row</td><td>4x10-12</td></tr>
                    <tr><td>hyperextension</td><td>4x12-15</td></tr>
                    <tr><td>Lying Triceps Extension</td><td>4x12</td></tr>
                    <tr><td>Bench Dips</td><td>4xMAX</td></tr>
                    <tr><td>Triceps Pushdowns</td><td>3x12+1xMAX</td></tr>
                </table>
                <div style="background-color: coral;opacity: 0.85;border-radius: 3px;margin-left: 15%;margin-right: 15%">Rest between exercises - 100-120 sec</div>
            </div>
            <div sec:authorize ="hasAnyAuthority('MB','WB')">
                <div style="background-color: coral;opacity: 0.85;border-radius: 3px;margin-left: 15%;margin-right: 15%">1st training</div>
                <table border="1" style="background-color: #4e555b;opacity: 0.85;border-radius: 3px;margin-left: 15%;margin-right: 15%">
                    <tr>
                        <th>Exercise</th>
                        <th>Recommendation</th>
                    </tr>
                    <tr><td>Run</td><td>do this ex. firstly(as the warm-up 10-15 min),keep moderate pace(120bpm/min)</td></tr>
                    <tr><td>Squat</td><td>try to do as more reps as you can in 30 sec</td></tr>
                    <tr><td>Skipping rope</td><td>do this exercise 5-10 minutes</td></tr>
                    <tr><td>Twisting</td><td>do it 30 seconds</td></tr>
                    <tr><td>Frog jump</td><td>try to keep as higher pace as you can</td></tr>
                </table>
                <div style="background-color: coral;opacity: 0.85;border-radius: 3px;margin-left: 15%;margin-right: 15%">2nd training</div>
                <table border="1" style="background-color: #4e555b;opacity: 0.85;border-radius: 3px;margin-left: 15%;margin-right: 15%">
                    <tr>
                        <th>Exercise</th>
                        <th>Recommendation</th>
                    </tr>
                    <tr><td>Push ups</td><td>Important to do it correctly(look in internet how-to do push-ups) 30 seconds</td></tr>
                    <tr><td>Box jump</td><td>you can use bench if you train outside</td></tr>
                    <tr><td>split jump</td><td>keep your body straight and don't touch ground with you knees</td></tr>
                    <tr><td>Sit ups</td><td>do as more reps as you can in 30 sec</td></tr>
                    <tr><td>Plank</td><td>Stay in plank as more as you can.Each duration is individual</td></tr>
                </table>
                <div style="background-color: coral;opacity: 0.85;border-radius: 3px;margin-left: 15%;margin-right: 15%">3nd training</div>
                <table border="1" style="background-color: #4e555b;opacity: 0.85;border-radius: 3px;margin-left: 15%;margin-right: 15%">
                    <tr>
                        <th>Exercise</th>
                        <th>Recommendation</th>
                    </tr>
                    <tr><td>Burpee</td><td>There are a lot variants of burpee.Find one suitable for you and do in 30 sec</td></tr>
                    <tr><td>Step up</td><td>30-45 sec</td></tr>
                    <tr><td>Run</td><td>5-15 minutes of running in moderate pace</td></tr>
                    <tr><td>Mountain climber</td><td>Do it 30-45 sec with high intensity</td></tr>
                    <tr><td>Skipping rope</td><td>1 minute with high intensity, one with low.Do 2-3 sets</td></tr>
                </table>
                <div style="background-color: coral;opacity: 0.85;border-radius: 3px;margin-left: 15%;margin-right: 15%">Rest between exercises - 30 sec</div>
            </div>


<!--           <form  th:action="@{/addData}" th:object="${userData}" method="post" sec:authorize ="isAuthenticated()">-->
<!--               <div style="width: 30%; background-color: #4e555b;opacity: 0.7;border-radius: 3px;margin:auto">-->
<!--                   <div>-->
<!--                       Finish input and get your training-->
<!--                   </div>-->

<!--                   <div>-->
<!--                       <div>-->
<!--                           <div>-->
<!--                               how many training could you have?-->
<!--                           </div>-->
<!--                           <select class="form-select" aria-label="Default select example">-->
<!--&lt;!&ndash;                               <option selected>Open this select menu</option>&ndash;&gt;-->
<!--                               <option th:field="*{quantity}" value="2">Two</option>-->
<!--                               <option th:field="*{quantity}" value="3">Three</option>-->
<!--                           </select>-->
<!--                       </div>-->

<!--                       <div>-->
<!--                           <select class="form-select" aria-label="Default select example">-->
<!--&lt;!&ndash;                               <option selected>Open this select menu</option>&ndash;&gt;-->
<!--                               <option value="1">One</option>-->
<!--                               <option value="2">Two</option>-->
<!--                           </select>-->
<!--                       </div>-->
<!--                   </div>-->
<!--               </div>-->
<!--           </form>-->

            <form th:action="@{/signIn}" method="post" sec:authorize ="!isAuthenticated()"
                  style="width: 30%; background-color: #4e555b;opacity: 0.85;border-radius: 3px;margin:auto">

                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid username or password.
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">You have been logged out.</div>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>: <input type="text" id="Username" name="username" class="form-control" autofocus="autofocus" placeholder="Username" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>: <input type="password" id="Password" name="password" class="form-control" placeholder="Password" />
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-primary" value="Log In" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                        <span>New user? <a href="/" th:href="@{/registration}">Register
        here</a></span>
                </div>
            </form>


        </div> <!--End of container-->
    </div> <!--End of banner-->




</body>

</html>
