<!DOCTYPE html>
<html lang="en">
<html lang="en"  xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />

</head>


<body style="background-color: #343a40">

    <div id="header">
        <div class="container">
            <h1 class="chy">Change yourself</h1>
            <ul class="navbar">
                <li><a th:href="@{/}" href="index.html">Home</a></li>
                <li sec:authorize ="!isAuthenticated()"><a th:href="@{/signUp}" href="@{/signUp}">Sign up</a></li>
                <li><a th:href="@{/aboutUs}" href="aboutUs.html">About Us</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/services}" href="training.html">Training</a></li>
                <li sec:authorize="isAuthenticated()"><form name="logoutForm" th:action="@{/logout}" method="post" >
                    <input  type="submit" value="Sign Out"/>
                </form></li>
            </ul>
        </div>
        <!--End of container-->
    </div>
    <!--End of header-->


    <div id="sbanner" style="background-color: #221e21">
        <div class="container">

            <h1>Sign up</h1>
            <h6>It is free and always will be.</h6>


                <form action="/signUp" th:action="@{/signUp}" th:object="${userDto}" method="post">


                <label for="Username">
                    <span class="tfsu">Username</span> <br>
                    <input  type="text" th:field="*{username}" placeholder="Username" id="Username" name="Username">
                    <p th:each="error: ${#fields.errors('username')}"
                       th:text="${error}">Validation error</p>
                </label>
                <br>
                <label for="Username">
                    <span class="tfsu">Mail</span> <br>
                    <input type="text" th:field="*{email}" placeholder="Email" name="MAIL">
                    <p th:each="error: ${#fields.errors('email')}"
                       th:text="${error}">Validation error</p>
                </label>
                <br>
                <label for="Username">
                    <span class="tfsu">New password</span> <br>
                    <input type="password" th:field="*{password}" id="passwordsiup" name="passwordsiup">
                    <p th:each="error: ${#fields.errors('password')}"
                       th:text="${error}">Validation error</p>
                </label>
                <br>
                <label for="Username">
                    <span class="tfsu">Confirm password</span> <br>
                    <input type="password" th:field="*{confirmPassword}" placeholder="confirm Password" id="cpassword" name="cpassword">
                    <p th:each="error: ${#fields.errors('confirmPassword')}"
                       th:text="${error}">Validation error</p>
                </label>
<br>
                <label><input type="radio" th:field="*{sex}" name="sex" value="MALE">Male</label>
                <label><input type="radio" th:field="*{sex}" name="sex" value="FEMALE">Female</label>
<br>
                <label><input type="radio" th:field="*{trainType}"  name="content" value="BURN_FAT">Burning fat</label>
                <br>
                <label><input type="radio" th:field="*{trainType}"  name="content" value="GAIN_WEIGHT">Gaining weight</label>
<br>
<button type="submit" class="btn">Confirm</button>
            </form>


        </div> <!-- End of container-->
    </div>
    <!--End of sbanner-->




</body>

</html>
