<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" />

</head>


<body>

    <div id="header">
        <div class="container">
            <h1 class="chy">Change yourself</h1>
            <ul class="navbar">
                <li><a th:href="@{/}" href="index.html">Home</a></li>
                <li><a th:href="@{/signUp}" href="signUp.html">Sign up</a></li>
                <li><a th:href="@{/aboutUs}" href="aboutUs.html">About Us</a></li>
                <li><a th:href="@{/}" href="index.html">Services</a></li>
            </ul>
        </div>
        <!--End of container-->
    </div>
    <!--End of header-->


    <div id="sbanner" style="background-color: #221e21">
        <div class="container">

            <h1>Sign up</h1>
            <h6>It is free and always will be.</h6>
            <form action="#">

                <form action="#" th:action="@{//signUp}" th:object="${userDto}" method="post">


                <label for="Username">
                    <span class="tfsu">Username</span> <br>
                    <input type="text" th:field="*{username}" placeholder="Username" id="Username" name="Username">
                </label>
                <br>
                <label for="Username">
                    <span class="tfsu">Mail</span> <br>
                    <input type="text" th:field="*{email}" placeholder="Email" name="MAIL">
                </label>
                <br>
                <label for="Username">
                    <span class="tfsu">New password</span> <br>
                    <input type="password" th:field="*{password}" id="passwordsiup" name="passwordsiup">
                </label>
                <br>
                <label for="Username">
                    <span class="tfsu">Confirm password</span> <br>
                    <input type="password" th:field="*{confirmPassword}" placeholder="confirm Password" id="cpassword" name="cpassword">
                </label>
<br>
                <label><input type="radio" th:field="*{sex}" name="sex" value="male">Male</label>
                <label><input type="radio" th:field="*{sex}" name="sex" value="female">Female</label>
<br>
                <label><input type="radio" th:field="*{trainType}"  name="content" value="burningFat">Burning fat</label>
                <br>
                <label><input type="radio" th:field="*{trainType}"  name="content" value="gainingWeight">Gaining weight</label>
<br>
<button class="btn">Confirm</button>
            </form>


        </div> <!-- End of container-->
    </div>
    <!--End of sbanner-->




</body>

</html>
