<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/css/style.css" />

</head>


<body>

    <div id="header">
        <div class="container">
            <h1 class="chy">Change yourself</h1>
            <ul class="navbar">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Sign up</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="#">Services</a></li>
            </ul>
        </div>
        <!--End of container-->
    </div>
    <!--End of header-->


    <div id="sbanner">
        <div class="container">

            <h1>Sign up</h1>
            <h6>It is free and always will be.</h6>
            <form action="#">

                <label for="Username">
                    <span class="tfsu">First Name</span> <br>
                    <input type="text" placeholder="Username" id="Username" name="Username">
                </label>
                <br>
                <label for="MAIL">
                    <span class="tfsu">Mail</span> <br>
                    <input type="text" placeholder="example@gmail.com" id="Username" name="Username">
                </label>
                <br>
                <label for="Username">
                    <span class="tfsu">New password</span> <br>
                    <input type="password" placeholder="New Password" id="passwordsiup" name="passwordsiup">
                </label>
                <br>
                <label for="Username">
                    <span class="tfsu">Confirm password</span> <br>
                    <input type="password" placeholder="confirm Password" id="cpassword" name="cpassword">
                </label>
<br>
                <label><input type="radio" name="sex">Male</label>
                <label><input type="radio" name="sex">Female</label>
<br>
                <label><input type="radio" name="content">Burning fat</label> 
                <br>
                <label><input type="radio" name="content">Gaining weight</label>
<br>
<button class="btn">Confirm</button>
            </form>


        </div> <!-- End of container-->
    </div>
    <!--End of sbanner-->




</body>

</html>
